* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Karla');

h2 {
  color: #444444;
  font-size: 15px;
}

.App {
  text-align: center;
  padding-top: 180px;
  background: #f6f6f6;
  font-family: 'Karla', sans-serif;
}

.headlines-list > li {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.App-logo {
  width: 400px;
}

.invisible {
  display: none;
}

.headlines-list {
  LIST-STYLE: NONE;
  PADDING: 0 10PX;
  FONT-SIZE: 15PX;
  TEXT-ALIGN: LEFT;
  COLOR: BLACK;
}

.App-header {
  background-color: #ccc;
  color: black;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: top;
  font-size: 20px;
  position: fixed;
  top: 0;
  min-height: 150px;
  width: 100vw;
}

.App-link {
  color: darkorange;
}


.diffBlock {
  min-height: 20px;
}

li > ul {
  font-size: 20px;
  list-style: none;
  padding: 0 0 20px 0;
}